@import "/fonts.css";
@import "/effects.css";
@import "/footer.css";

body {
  box-sizing: border-box;
  /* margin: 40px auto; */
  color: white;
  background-color: black;
  font-family: "Manrope", sans-serif;
  font-size: 62.5%;
  margin: 0;
  /* min-width: 100vw; */
}

header {
  position: fixed;
  top: 20px;
  left: 20px;
}

h1 {
  font-size: 1.625rem;
  margin: 0 0 5px 0;
}

p {
  font-size: 1.025rem;
}

section {
  height: 100vh;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
}

.image_1 {
  background-image: url(https://images.unsplash.com/photo-1558980394-34764db076b4);
}

.image_2 {
  background-image: url(https://images.unsplash.com/photo-1558980395-2f289089d3ec);
}

.image_3 {
  background-image: url(https://images.unsplash.com/photo-1587440127595-e25a6f55f3e3);
}
.image_4 {
  background-image: url(https://images.unsplash.com/photo-1587221703223-181d78a8fc4c);
}
