@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&display=swap");

body {
  box-sizing: border-box;
  /* margin: 40px auto; */
  color: white;
  background-color: black;
  font-family: "Manrope", sans-serif;
  font-size: 62.5%;
  margin: 0;
  /* min-width: 100vw; */
}

header {
  position: fixed;
  top: 20px;
  left: 20px;
}

h1 {
  font-size: 1.625rem;
}

p {
  font-size: 1.025rem;
}
section {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1558980394-34764db076b4);
  background-size: cover;
  /* width: 100%; */
}

footer {
  font-size: 0.9rem;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

footer a {
  text-decoration: none;
  color: #ffff;
  padding-right: 15px;
}

footer a:last-child {
  padding-right: 0;
}
