@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&display=swap");

body {
  box-sizing: border-box;
  margin: 40px auto;
  color: white;
  background-color: black;
  font-family: "Manrope", sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #ffff;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
}
